<div class="wrapper">
  <nav class="navbar">
      <img class="logo" src="../assets/logo3.jpg">
      <ul>
          <li><a class="active" (click)="gotoHome()">Home</a></li>
          <li><a (click) = "gotoAbout()">About</a></li>
          <li><a (click)="gotoEvents()">Events</a></li>
          <li><a (click)="gotoContacts()">Contact</a></li>  
      </ul>
  </nav>
  <app-index *ngIf="home" ></app-index>
  <app-about *ngIf="about" ></app-about>
  <app-events *ngIf="events" ></app-events>
  <app-contacts *ngIf="contacts" ></app-contacts>
</div>